{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'create_file.css'%}">
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="create-file-text">touch <span class="title">new_file.md</span></h1>
    <form class="create-file-text" method="POST">
        <div>
            {% csrf_token %}
            {{ file_form.as_p }}
            <button type="submit" class="btn btn-warning">Create</button>
        </div>
    </form>
</div>
{% endblock %}
