{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'file_list.css'%}">
{% endblock %}

{% block content %}
<div class="content py-5 ps-4 pe-4">
    <h1 class="file-list-text">Check some <span class="title">root</span> files</h1>
    <p class="file-list-text">{{ description }}</p>
    {% include 'blog/terminal.html' %}
    {% if page_obj %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a class="pag-previous" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a class="pag-next" href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}

    {% if user.is_authenticated %}
    <a class="create-btn" href="{% url 'create_file' %}">touch new_file.md</a>
    {% endif %}
</div>
{% endblock %}
