{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'file_list.css'%}">
{% endblock %}

{% block content %}
<h1 class="title">{{title}}</h1>
<h4 class="description">{{ description }}</h4>

<div class="terminal container-fluid">
    <ul>
        {% for file in file_list %}
        <li class="file">-rw-r--r-- {{ file.owner.user.username }} {{file.size_in_kilobytes}} {{ file.created_at|date:"M j Y" }}
            <a class="title-link" href="{{ file.get_absolute_url }}">{{ file.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% if page_obj %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% if user.is_authenticated %}
<button class="btn btn-warning">touch new_file.md</button>
{% endif %}

{% endblock %}
