{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'register.css'%}">
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="register-text">sudo useradd <span class="title">username</span></h1>
    <form class="register-text" method="post">
        {% csrf_token %}
        {{user_form.as_p}}
        {{user_auth_form.as_p}}
        {{owner_form.as_p}}
        <button type="submit" class="btn btn-warning">Create</button>
    </form>
</div>
{% endblock %}