{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'file_editor.css'%}">
<script src="{% static 'js/markdown_preview.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row g-4">
        <h1 class="file-text">new_data<span class="title">>></span>file.md</h1>
        <div class="col">
            <form id="update-form" class="file-text" method="POST">
                <div>
                    {% csrf_token %}
                    {{ file_form.as_p }}
                </div>
            </form>
            <button type="button" data-url="{% url 'render_markdown' %}" id="preview-btn"
                class="btn btn-outline-light">Preview</button>
        </div>
        <div class="col">
            <p class="file-text overflow-auto" id="id_preview">Content Preview</p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col">
            <button form="update-form" type="submit" class="create-btn">new_data>>file.md</button>
        </div>
    </div>
</div>
{% endblock %}
