@font-face {
    font-family: "UbuntuMono";
    src: url("fonts/UbuntuMono-Regular.ttf") format("truetype");
}

.title {
    color: #FAD500;
}

.navbar {
    background-color: #FAD500;
}

.navbar .nav-link {
    color: black;
}

.navbar .nav-link:hover {
    background-color: black;
    color: #FAD500;
}

body {
    background-color: black;
    font-family: "UbuntuMono", sans-serif;
}

.footer-text {
    color:#e6edf3;

}
