@font-face {
    font-family: "UbuntuMono";
    src: url("fonts/UbuntuMono-Regular.ttf") format("truetype");
}

.title {
    color: #FAD500;
}

.navbar {
    background-color: #FAD500;
}

.navbar .nav-link {
    color: black;
}

.navbar .nav-link:hover {
    background-color: black;
    color: #FAD500;
}

body {
    background-color: black;
    font-family: "UbuntuMono", sans-serif;
}

.footer-text {
    color:#e6edf3;

}

.create-btn {
    color: black;
    background-color: #FAD500;
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #FAD500;
}

.create-btn:hover {
    background-color: black;
    color: #FAD500;
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #FAD500;
}
