[id^="id"] {
    font-size: large;
    background-color: #161b22;
    color: #e6edf3;
    border-radius: 5px;
}

#id_title {
    width: 34em;
}

#id_content {
    width: 34em;
    min-height: 25em;
}

#id_preview {
    width: 34em;
    min-height: 28em;
    border: 1px inset #FAD500;
    max-height: 28em;
}

.errorlist {
    display: none;
}

label {
    display: none;
}

.create-file-text {
    color: #e6edf3;
}

.modal-content {
    background-color: #0d1117;
    color: #e6edf3;
}

.btn-close {
    background-color: #e6edf3;
}
