@font-face {
    font-family: "UbuntuMono-Italic";
    src: url("fonts/UbuntuMono-Italic.ttf") format("truetype");
}

.file {
    color: #FAD500;
    list-style-type: none;
}

p {
    color: #FAD500;
}

.title-link {
    color: #FAD500;
    font-family: 'UbuntuMono-Italic', sans-serif;
    text-decoration: none;
}

.title-link:hover {
    color: #DF152B;
    text-decoration: none;
}

.terminal {
    background-color: #212529;
    height: 50vh;
}

.pagination {
    color: #FAD500;
}
