{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'login.css'%}">
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="login-text">Welcome <span class="title">back</span><br>sudo su <span class="title">username</span></h1>
    <form class="py-5" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-dark">Login</button>
    </form>
    <p class="login-text">Don't have an account?</p>
    <a type="button" class="btn btn-warning" href="{% url 'register' %}">Create one. It's free!</a>
</div>
{% endblock %}
